body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #262626; */
  background: url(/noise.png) #262626;
}

@keyframes d-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    bottom: 80px;
  }

  50% {
    bottom: -20px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes moveUp {
  0% {
    top: 0px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 0px;
  }
}

#download-button > #download-icon:hover {
  animation: moveDown 0.4s linear, d-fade 0.4s ease;
}

#download-icon {
  position: relative !important;
}

.shadow-social-link {
  --tw-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.06);
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-social-link:hover {
  --tw-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.09);
  --tw-shadow-colored: 0 0 0 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
